---
import About from "@/components/About.astro"
import Blog from "@/components/Blog.astro"
import Content from "@/components/Content.astro"
import Header from "@/components/Header.astro"
import Icon from "@/components/Icon"
import { BorderBeam } from "@/components/magicui/border-beam"
import Layout from "@/layouts/Layout.astro"
import { config } from "@/lib/config"
import { ExternalLink, Minus } from "lucide-react"
---

<Layout>
  <Header />
  <main class="space-y-4">
    <Content name="Projects" index={1}>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {
          config.projects.map((value) => (
            <a
              target="_blank"
              href={value.link}
              class="group relative block rounded-md p-3 transition-colors duration-300 hover:bg-secondary leading-tight focus:outline-none"
            >
              <div class="flex items-end underline-offset-4 transition-transform group-hover:-translate-y-0.5 group-hover:underline leading-tight">
                <Icon name={value.icon} className="mr-1" size={16} />
                <span class="truncate font-medium">{value.name}</span>
                <ExternalLink
                  size={15}
                  className="ml-2 opacity-0 transition duration-300 group-hover:block group-hover:-translate-x-2 group-hover:opacity-100"
                />
              </div>
              <div class="mt-2 text-sm text-muted-foreground break-words group-hover:text-foreground leading-tight">
                {value.desc}
              </div>
              <BorderBeam
                size={108}
                duration={3}
                colorFrom="#60a5fa"
                colorTo="#facc15"
                className="opacity-0 transition-opacity duration-300 group-hover:opacity-100"
              />
            </a>
          ))
        }
      </div>
    </Content>
    <Content name="Blog" index={2}>
      <Blog />
    </Content>
    <Content name="Links" index={3}>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {
          config.links.map((value) => (
            <a
              target={value.link.startsWith("/") ? "_self" : "_blank"}
              href={value.link}
              class="group flex items-center py-2 leading-tight rounded-md transition-colors duration-300 hover:bg-secondary focus:outline-none"
            >
              <div class="flex min-w-[82px] items-end underline-offset-4 transition-transform group-hover:-translate-y-0.5 group-hover:underline truncate leading-tight">
                <Icon name={value.icon} className="mr-2" size={16} />
                <span class="truncate font-medium">{value.name}</span>
              </div>
              <Minus size={20} className="mx-1" strokeWidth={1.6} />
              <div class="text-sm text-muted-foreground break-words group-hover:text-foreground leading-tight">
                {value.desc}
              </div>
            </a>
          ))
        }
      </div>
    </Content>
    <Content name="About me" index={4}>
      <About />
    </Content>
  </main>
</Layout>
